#angular-checkbox + label:before{
    border: 0.2em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 0.2em;
}

#angular-checkboxes:checked + label:before {
    background-color: MediumSeaGreen;
}

.angular-label, .react-label, .git-label, .js-label, .css-label, .python-label {
    margin: 0 0.125rem;
    padding: 0 1rem;
}

.all-checkboxes {
    /* margin: 2px 8px; */
    display: block;
}