.resources {
    max-width: 62.5rem;
    /* border: 10px solid; */
    margin: 0 auto;
}
.one-resource {
  /* border: 2px solid lightgreen;   */
  display: grid;
  width: 61.25%;
  align-items: center;
  grid-template-columns: 45% 55%;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin: 20px auto;
  

}

.one-resource--image {
    width: 16rem;
    height: 16rem;  
}

h1 {
    text-align: center;
    padding: 0px 10px;
}
.course-list {
    /* border: 5px solid red; */
    margin: 0 auto;
    padding: 0 auto;
}